/* RESET */
*{padding:0;margin:0;text-decoration:none;}
html{
	background-color: #F6F4F0;
}
body{
	font-size: 12px;
	font-family: Helvetica, Verdana, Gevana, Arial, sans-serif;
	width: 800px;
	height:600px;
	margin: 0 auto;	
}
header{
	color: #fff;
	height: 120px;
	background-color: #3fc147;
}
header h1 {
	font-size: 42px;
	padding-top:30px;
	margin-left: 20px;
}
header .nomeProfessor{
	text-align:right;
	font-size: 14px;
	margin-right: 26px;
}
header p a{
	text-decoration:underline;
	color:blue;
	text-align:right;
	font-size: 14px;
	margin-left: 750px;

}
section{
	width: 800px;
	height: 440px;
	display: inline-block;
	float: left;
	background-color: #fff;
}
nav {
	height:35px;
	background-color: #912eb2;
	padding: 3px;
}
nav a{
	color: #fff;
	text-decoration:underline;
	padding: 2px;
	font-size: 14px;
	margin-left: 10px;
}
.gerarCodeTitle {
	height: 20px;
	border-bottom: 1px solid #777;
}
.gerarCodeTitle h1 {
	margin: 20px 0 0 20px;
	font-size:16px;
}
.gerarCodeDescription p{
	margin: 20px 0 5px 50px;
	font-size: 14px;
}
.gerarCodeDescription input[type="text"] {
	margin: 0px 0 5px 50px;
	width: 700px;
	padding:3px;
}
.pontoMaxAtv p{
	margin: 20px 0 0px 300px;
	font-size: 14px;
}
.pontoMaxAtv input[type="number"]{
	margin: 5px 0 5px 360px;
	width: 60px;
	padding:3px;
}
.tablePontos {
	border: 2px solid #3188f7;
	background-color: #629fed;
	margin: 0 auto;
	margin-top: 8px;
	width: 500px;
	padding: 8px;
}
.tablePontos tr {
	color: #fff;
	font-size: 14px;
	border: #fff;
}
.tablePontos h1 {
	color: #fff;
	font-size: 14px;
}
.tablePontos h2 {
	text-align:right;
	color: #fff;
	font-size: 14px;
}
.descTableEl {
	height: 30px;
}
.tablePontos input[type="number"] {
	margin-left: 40px;
	padding:8px;
	width: 50px;
}
.tablePontos input[type="submit"] {
	margin: 5px;
	padding:5px;
	width: 100px;
}
footer {
	width: 800px;
	height: 40px;
	clear: both;
	float: none;
	background-color: #dbc426;
}
footer p {
	color: #fff;
	margin:10px;
	padding:10px;
}
