/* RESET */
*{padding:0;margin:0;text-decoration:none;}
html{
	background-color: #F6F4F0;
}
body{
	font-size: 12px;
	font-family: Helvetica, Verdana, Gevana, Arial, sans-serif;
	width: 800px;
	height:600px;
	margin: 0 auto;	
}
header{
	color: #666;
	height: 120px;
	background-color: #f1f1f1;
	border-bottom: 2px solid #f2a500;
}
header img {
	float: left;
	margin-left: 5px;
	width: 30%;
}
header .nomeProfessor{
	text-align:right;
	font-size: 14px;
	padding-top: 94px;
	margin-right: 100px;
}
.sairPrize{
	float:right;
	position: absolute;
	text-decoration:underline;
	color:blue;
	font-size: 14px;
	margin-left: 60px;
	padding-bottom: 20px;
}
section{
	width: 800px;
	height: 440px;
	display: inline-block;
	float: left;
	background-color: #fff;
}
nav {
	height:35px;
	background-color: #898989;
	padding: 3px;
}
nav a{
	color: #fff;
	text-decoration:underline;
	padding: 2px;
	font-size: 14px;
	margin-left: 10px;
}
.verDesemTitleAl {
	height: 20px;
	border-bottom: 1px solid #777;
}
.verDesemTitleAl h1 {
	margin: 20px 0 0 20px;
	font-size:16px;
}
#filterAcompanhamentoAl {
	width: 700px;
	height: 50px;
	margin: 20px 0px 0px 40px;
	padding: 10px;
	border: 1px solid #666;
}
.fieldMateria {
	float:left;
	margin-left: 10px;
}
.fieldMateria select{
	width: 300px;
	margin-top: 3px;
}
#verDesempenhoButton {
	width: 150px;
	height: 30px;
	margin: 13px 0px 0px 25px;
}
footer {
	width: 800px;
	height: 40px;
	clear: both;
	float: none;
	background-color: #f2a500;
}
footer p {
	color: #fff;
	margin:10px;
	padding:10px;
}
