Django==1.5.1
Flask==0.10.1
Jinja2==2.7
MarkupSafe==0.18
South==0.8.1
Werkzeug==0.9.3
argparse==1.2.1
dj-database-url==0.2.2
dj-static==0.0.5
django-social-auth==0.7.25
django-toolbelt==0.0.1
gunicorn==17.5
httplib2==0.8
itsdangerous==0.22
oauth2==1.5.211
psycopg2==2.5.1
python-openid==2.2.5
reportlab==2.7
static==0.4
wsgiref==0.1.2
