{% extends 'base_aluno.html' %}

{% block corpo %}
	<section> 

		<nav class="clear"> <br />
			<a href="/" alt="Voltar para menu." title="Voltar para menu." tabindex="1">Voltar</a>
					<!--br class="brClear" /> <!-- jogar tudo abaixo do menu -->
		</nav>

		

<div id="cadAluno">
{% if not passa %}
	<form action="" method="post" id="filterAcompanhamentoAl">
		{% csrf_token %}
			<div id="output">


					{{form.turma.errors}}
					<h1>{{form.turma.label}}</h1>  <br> {{ form.turma }}


			</div>
		</div>
		<button type="submit">Ver Ranking</button>
	</form>

{% else %}
	{% if lista_alunos %}
		<table border="1" >
			<tr>
				<th> Posição </th>
				<th> Aluno </th>
				{% for atividade in lista_atividades_colegio %}
			
					<th>{{atividade.atividade.nome}}</th>
				
				{% endfor%}

				<th> Total </th>
			</tr>
				
				{% for alunos in lista_alunos%}
					<tr align="center"> 
						<td>{{ forloop.counter }} </td>
						<td>{{alunos.nome}}</td>
						{% for pontos in alunos.pontos %}		
							<td>{{pontos}}  </td>
						{% endfor %}			
					</tr>
					
				{% endfor %}
		</table>

{% else %}
	<p> Nenhum aluno ou codigo registrado na turma</p>

{% endif %}



{% endif%}



</div>
	</section>

{% endblock %}