 <!doctype html>
<html lang="pt">

{% block cabecalho %}
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Prize - Ganhe prêmios estudando</title>
		<meta name="keywords" content="Educação, pontuação, resompensa">
		<meta name="description" content="Sistema de pontuação e recompensa para estudantes.">
		<link rel="stylesheet" href="/static/css/style_menu_teacher_generate_codes_complete.css" type="text/css" />
		<!--script type="text/javascript" src="js/lib/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="js/actions.js"></script-->
	</head>


{% endblock %}


	<body>
		<div id="allInterface">
			<header >
				<img src="/static/image/prizeLogoHeader.png" title="prize: ganhe prêmios estudando"/>
				<p class="nomeProfessor">Bem-vindo, {{ professor  }}  <a href="/logout/" class="sairPrize">sair</a></p> 
			</header>
			{% block corpo %} 	{% endblock %}

			<footer>
					<p>
						&copy; Copyright  by Prize
					</p>
			</footer>
		</div> <!-- end #allInterface -->


	</body>
</html>
