{% extends "base.html" %}


{% block head %}


{% endblock %}

{% block corpo %}
     <script src="{{STATIC_URL}}js/jquery-2.0.2.js"></script>
     <script type='text/javascript' src='{{STATIC_URL}}js/script.js'></script>

<div id="cadAluno">
	<nav class="clear"> <br />
		<a href="/" alt="Voltar para menu." title="Voltar para menu." tabindex="1">Voltar</a>
			<!--br class="brClear" /> <!-- jogar tudo abaixo do menu -->
	</nav>
		
	{% if form.errors %}
		 
        	<p style="color: red;">
            	Por favor, corrigir  erro{{form.errors|pluralize}}!
            </p>
   	{% endif %}

	<form action="" method="post">
		{% csrf_token %}
		
		<div id="erros">
			  
				{{form.primeiro_nome.errors}}
			{{form.primeiro_nome.label}} {{ form.primeiro_nome }}
			 
			{{form.ultimo_nome.errors}}
			{{form.ultimo_nome.label}} {{ form.ultimo_nome }}
			 
			{{form.email.errors}}
			{{form.email.label}} {{form.email}}
			 
			{{form.login.errors}}
			{{form.login.label}} {{form.login}}
			

			
				  
				{{form.colegio.errors}}
				{{form.colegio.label}}   {{ form.colegio }}
			
			<div id="list_turma">
				{% if turma %}
					{{turma.turma.errors}}
				 	<br>Turma {{ turma.turma }}
				{%endif%}
			</div>
			<br>
			{{form.senha.errors}}
			{{form.senha.label}} {{form.senha}}
			{{form.confirme_senha.label}}  {{form.confirme_senha}}

		</div>

		<br><button type="submit">Cadastrar</button>
	</form>
</div>


{% endblock %}