{% extends 'base_index_professor.html' %}


	{% block corpo %}

	<section> 
		<nav class="clear">
			<ul id="menuPrincipalProfessor">

				<li><a href="/gerar_codigo/" alt="Ir para Pontuação" title="Ir para Pontuação" tabindex="1">Gerar código de pontuação</a></li><br />
				<li><a href="#" alt="Ir para Pontuação" title="Ir para Pontuação" tabindex="2">Pontuar Manualmente</a></li> <br />
							<!--ul class="subMenu">
								<li><a href="#" alt="Pontuar manualmente" title="Pontuar manualmente" tabindex="1">Pontuar manualmente</a></li>
								<li><a href="#" alt="Gerar códigos de pontuação" title="Gerar códigos de pontuação" tabindex="2">Gerar códigos de pontuação</a></li>
							</ul-->
						
				
				
				<li><a href="#" alt="Ir para Atividades" title="Ir para Atividades" tabindex="3">Atividades</a></li><br />
				<li><a href="#" alt="Ir para Desempenho" title="Ir para Desempenho" tabindex="4">Desempenho</a></li><br />
					<!--li><a href="#" alt="Ir para Sair" title="Ir para Sair" tabindex="4">Sair</a></li-->
			</ul>
		</nav>
			<!--br class="brClear" /> <!-- jogar tudo abaixo do menu -->
	</section>		

{% endblock %}