{% extends 'base_aluno.html' %}


{% block js %}
	<script type="text/javascript">
		function submeter(){
			confirm("Alerta");
			}
	</script>

{% endblock %}

{% block corpo %}

	<section> 
		<nav class="clear"> <br />
			<a href="/" alt="Voltar para menu." title="Voltar para menu." tabindex="1">Voltar</a>
					<!--br class="brClear" /> <!-- jogar tudo abaixo do menu -->
		</nav>
		
		<article>
			<h1 class="gerarCodeTitle">{{ aluno.creditos }}</h1>
			<p id= "pontos">CRÉDITOS</p>
		</article>
				
		<aside class="alunoUsarPontos">
			<article class="gerarCodeDescription">
				<p>Receber pontos</p>
	<!-- 			<input type="text" name="Receber pontos" />
				<input type="submit" name="gerarOtimo" value="OK" id="button_gerar"/> -->

				<form action="" method="post">
					{% csrf_token %}
					{{ form.codigo }} 
					<input type="submit" name="gerarOtimo" value="OK" id="button_gerar" onClick="submeter();"/>	
			</form>
			</article>
			<article class="verDesempenhoAl">
   				<a href="#"><input type="submit" name="gerarOtimo" value="Ver desempenho" id="button_gerar"/></a>
			</article>
			<article class="tablePonto">
				<a href="/ranking/"><input type="submit" name="gerarOtimo" value="Ranking" id="button_gerar"/></a>
   				<!-- <input type="submit" name="gerarOtimo" value="Ranking" id="button_gerar"/> -->
			</article>
		</aside>
		<article>
			<img src="/static/image/avatar_male_black.jpeg" id="avatarImg"/>
		</article>
		<article class="trocarSeusPontos">
    		<input type="submit" name="gerarOtimo" value="Trocar seus pontos" id="button_trocar"/>
		</article>
	</section>

<!-- <section> 

		<nav class="clear"> <br />
				<a href="/" alt="Voltar para menu." title="Voltar para menu." tabindex="1">Voltar</a>

		</nav>
		<article>
			<h1 class="gerarCodeTitle">{{ aluno.pontos }}</h1>
			<p id= "pontos">PONTOS</p>
		</article>
		<article class="gerarCodeDescription">
			<p>Receber pontos</p>
			<form action="" method="post">
					{% csrf_token %}
					{{ form.codigo }} 
					<input type="submit" name="gerarOtimo" value="OK" id="button_gerar" onClick="submeter();"/>	
			</form>

			
		</article>	
		<article class="tablePonto">
    		<input type="submit" name="gerarOtimo" value="troque seus pontos" id="button_gerar"/>
		</article>
	</section>	
 -->




{% endblock %}